@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/roboto-slab-v8-latin-regular.woff);
    src: url(../fonts/roboto-slab-v8-latin-regular.woff2);
}
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}
 img{
    display: block;
    max-width: 100%;
} 
.container{
    width: 940px;
    margin: 0 auto;
}
.nav_page{
    display: flex;
    justify-content: space-between;
    height: 115px;
    align-items: center;
}
.nav_list{
    display: flex;
    justify-content: space-between;
    flex-basis: 480px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_link{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 0 17px;
    transition: color 200ms linear;
}
.nav_list a:last-child{
    padding-right: 0;
}
.nav_list a:first-child{
    padding-left: 0;
}
.nav_link:hover, .nav_link:focus{
    color: rgb(254, 209, 54);
}
.logo{
    font-family: 'Kaushan Script', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
    color: #FED136;
}
/* Article */
.service_section{
    margin-top: 72px;
}
.box_head{
    width: 296px;
    margin: 0 auto;
    text-align: center;
}
.head_1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sub_head_1{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 16px 0 0;
    color: rgb(119, 119, 119);
}
/* services_list */
.service_article{
    margin-top: 78px;
}
.services_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.services_item{
    width: 290px;
}
.img_box{
    position: relative;
    height: 73px;
    width: 74px;
    margin: 0 auto;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 22px 0 12px;
}
.item_dscr{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #555252;
    font-weight: 400;
    line-height: 1.8;
    margin: 0;    
}
/* contact_section */
.contact_section{
    background-color: rgb(34, 34, 34);
    background-image: url(../img/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: 100% 85%;
    height: 676px;
    width: 1400px;
    margin: 122px auto 0;
}
.head_2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 106px;
    color: #fff;
}
.sub_head_2{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 18px 0 0;
    color: rgb(119, 119, 119);
}
/* FORM */
.form{
    margin-top: 72px;
}
.input_wrapper{
    display: flex;
    justify-content: space-between;
    flex-basis: 940px;
  }
.input_box{
    display: flex;
    justify-content: space-between;
    flex-basis: 210px;
    flex-direction: column;
}
.input{
    height: 52px;
    width: 455px;
    border: 1px rgb(204, 204, 204) solid transparent;
    border-radius: 5px;
    padding-left: 20px;
  }
.textarea{
    padding-top: 14px;
    height: 210px;
}
input:focus:valid{
    border: 1px solid green;
}
input:focus:invalid{
    border: 1px solid red;
}
.send_button{
    display: block;
    width: 240px;
    height: 64px;
    border-style: none;
    background-color: #FED136;
    border-radius: 5px;
    margin: 30px auto 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 100ms linear;
}
.send_button:hover, .send_button:focus{
    background-color: rgb(253, 218, 92);
}