
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/banner@2x.jpg);
  }

  .list-article__item--symbol-1 {
    background-image: url(../images/icon_1@2x.png);
  }

  .list-article__item--symbol-2 {
    background-image: url(../images/icon_2@2x.png);
  }

  .list-article__item--symbol-3 {
    background-image: url(../images/icon_3@2x.png);
  }

  .list-article__item--symbol-4 {
    background-image: url(../images/icon_4@2x.png);
  }

  .list-article__item--symbol-5 {
    background-image: url(../images/icon_5@2x.png);
  }

  .list-article__item--symbol-6 {
    background-image: url(../images/icon_6@2x.png);
  }
}
