/* TEAM LIST */

.team-list {
  @extend %flex-row;
  @extend %list-normalize;

  &__icon-list {
    @extend %flex-row;
    @extend %list-normalize;
    position: absolute;
    left: 78px;
    top: 196px;
    width: 224px;
  }

  &__subhead {
    @include text-decor($montserrat-font, 14px, $gray-color, center, 1.2, uppercase, normal);
    margin: 38px 0 0;
  }

  &__description {
    @include text-decor($roboto-font, 15px, $light-gray-color, center, 1.6, none, normal);
    font-style: italic;
    margin: 12px 0 0;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 470px;
    width: 380px;
    opacity: 0;
    transition: transform 200ms linear, box-shadow 200ms linear,
      background-image 200ms linear, opacity 200ms linear;

    &:hover {
      opacity: 1;
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px 0px #95e1d3;
      background-image: -webkit-linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.7) 100%
      );
    }
  }

  &__img {
    transition: transform 200ms linear;
  }

  &__img-box {
    position: relative;

    &:hover .team-list__img {
      transform: translate(-10px, -10px);
    }
  }

  &__svg {
    display: block;
    width: 28px;
    height: 32px;
    margin: 10px auto 0;
    fill: $pink-color;
    transition: fill 200ms linear;
  }

  &__icon {
    background-color: $light-yellow-color;
    width: 55px;
    height: 56px;
    transition: background-color 200ms linear;

    &:hover .team-list__svg {
      fill: $white-color;
    }

    &:hover {
      background-color: $pink-color;
    }
  }
}

