*, 
*::before
*::after {
box-sizing: inherit;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.paragraf{ 
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5em;
}

.conteiner{
    width:900px;
    margin: 0 auto;
    padding: 0px;
}

nav.conteiner{
    margin: 76px auto;
}

section.conteiner {
    margin-top: 100px;
}

.link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.ref-1{
    display: inline-block;
    margin-left: 166px;
}
.ref-2 {
    display: inline-block;
    margin-left: 128px;
}
.ref-3 {
    display: inline-block;
    margin-left: 102px;
}
.ref-4 {
    display: inline-block;
    margin-left: 94px;
}
.link:hover{
   color: rgb(88, 233, 233);
}

.text {
    font-size: 30px;
    margin-bottom: 44px;
    padding: 0;
}

.artpost{
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.art-1, .art-3, .art-5 {
    margin-right: 30px;
}
.art-3, .art-4 {
    margin-top: 130px;
}
.art-5, .art-6 {
    margin-top: 140px;
}

.button {
    border: 1px solid #dddcd7;
    padding: 0;
    width: 164px;
    height: 60px;
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}

.item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    }

.button-box{
    margin: 60px 0;
    text-align: center;
}

